/* ============================================================================ 
* # Variables: Primitives 
* ============================================================================= */

@theme {
  --font-montserrat: "Montserrat";
  --font-roboto: "Roboto";
  --font-rajdhani: "Rajdhani";
}