/* ============================================================================ 
* # Variables: Semantics 
* ============================================================================= */

@theme {
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-montserrat);
  --font-logo: var(--font-rajdhani);

  /* --color-primary: #c4955d; */
  /* --color-primary: #facc6b; */

  /* --color-primary: #fa6b6b; */
  --color-primary: #f13434;
}